

<div class="col-10 offset-1"> 
  <div class="body">
    <%= simple_form_for @item do |f| %>
      <%= f.input :task %>
      <%= f.input :description %>
      <br/>
      <%= f.submit 'Update Task', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>