<div class="header col-12 text-center">
  <h1 class="header-text"> Horrigan Quiz One </h1>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to "New Task", new_item_path, class: 'btn btn-primary' %>
  </li>
</ul>
<br/>


  <% @items.each do |item| %>
    <div class="card col-md-6 offset-3 text-center">
      <h4 class="card-title"><%= item.task %></h4>
      <p class="card-text"><%= item.description %></p>
    </div>
  <% end %>

