

 
    <div class="row">
      <% @items.each do |item| %>
        <div class="column">
          <div class="card col-10 offset-1">
            <h4 class="card-title"><%= item.task %></h4>
            <p class="card-text"><%= item.description %></p>
            <div class="nav-item col-10 offset-1">
              <%= link_to "Update Task", item_path(item), class: 'btn btn-primary' %>
              <%= link_to "Remove Task", item_path(item), class: 'btn btn-primary', method: :delete, data: {confirm: "Click to confirm to remove this task?"} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  

