@import "bootstrap";


.header {
  margin: 25px 0px 25px 0px;
  padding: 20px 20px 20px 20px;
  font-size: 32px;
  background-color: #753F3F;
  color: #F9D7D7;
}

.container {
  background-color: #f2f2f2;
}

.card {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}